<% if user_signed_in? %>
    <% if book.like_user(current_user.id) %>
      <%= link_to book_likes_path(book), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
      <% end %>
      <% unless book.likes.count == 0 %>
       <%= book.likes.count %>
       <% end %>いいね
   <% else %>
      <%= link_to book_likes_path(book),method: :post, remote: true do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <% end %>
      <% unless book.likes.count == 0 %>
     <%= book.likes.count %>
       <% end %>いいね
  <% end %>
  <% else %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<% end %>
